/venv/
/.idea/.gitignore
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/pyemblem.iml
/.idea/vcs.xml
/.idea/codeStyles/codeStyleConfig.xml
/.idea/dictionaries/ferre.xml
